# Assignment to explore and cluster the neighborhoods in Toronto

## For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

### Start by creating a new Notebook for this assignment.
### Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

### Link for scrapping a table from a website: https://towardsdatascience.com/web-scraping-html-tables-with-python-c9baba21059

In [1]:
#Import the necessary librariers
import requests
import pandas as pd
import lxml.html as lh

In [2]:
url=" https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
#Create a handle, page, to handle the contents of the website
page=requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements=doc.xpath('//tr')

In [3]:
#Check the length of the first 15 rows
[len(T) for T in tr_elements[:15]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

### Parse Table Header
### Next, let’s parse the first row as our header.

In [4]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

### Creating Pandas DataFrame
### Each header is appended to a tuple along with an empty list.

In [5]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

## Just to be sure, let’s check the length of each column. Ideally, they should all be the same.

In [6]:
[len(C) for (title,C) in col]

[287, 287, 287]

#### This shows that each of the 3 columns has exactly 288 rows

## Creating the pandas data frame

In [8]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

Start by creating a new Notebook for this assignment.
Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

3. To create the above dataframe:

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
4. Submit a link to your Notebook on your Github repository. (10 marks)

Note: There are different website scraping libraries and packages in Python. For scraping the above table, you can simply use pandas to read the table into a pandas dataframe.

Another way, which would help to learn for more complicated cases of web scraping is using the BeautifulSoup package. Here is the package's main documentation page: http://beautiful-soup-4.readthedocs.io/en/latest/

The package is so popular that there is a plethora of tutorials and examples on how to use it. Here is a very good Youtube video on how to use the BeautifulSoup package: https://www.youtube.com/watch?v=ng2o98k983k

Use pandas, or the BeautifulSoup package, or any other way you are comfortable with to transform the data in the table on the Wikipedia page into the above pandas dataframe.

In [14]:
# Access the top 5 rows of the data frame 
df.head(15)

   Postcode           Borough       Neighbourhood
0       M1A      Not assigned      Not assigned\n
1       M2A      Not assigned      Not assigned\n
2       M3A        North York         Parkwoods\n
3       M4A        North York  Victoria Village\n
4       M5A  Downtown Toronto      Harbourfront\n
5       M6A        North York  Lawrence Heights\n
6       M6A        North York    Lawrence Manor\n
7       M7A  Downtown Toronto      Queen's Park\n
8       M8A      Not assigned      Not assigned\n
9       M9A      Queen's Park      Not assigned\n
10      M1B       Scarborough             Rouge\n
11      M1B       Scarborough           Malvern\n
12      M2B      Not assigned      Not assigned\n
13      M3B        North York   Don Mills North\n
14      M4B         East York  Woodbine Gardens\n

### Dropping all cells with a borough that is Not assigned

In [15]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)

df.head(10)

  Postcode           Borough       Neighbourhood
0      M3A        North York         Parkwoods\n
1      M4A        North York  Victoria Village\n
2      M5A  Downtown Toronto      Harbourfront\n
3      M6A        North York  Lawrence Heights\n
4      M6A        North York    Lawrence Manor\n
5      M7A  Downtown Toronto      Queen's Park\n
6      M9A      Queen's Park      Not assigned\n
7      M1B       Scarborough             Rouge\n
8      M1B       Scarborough           Malvern\n
9      M3B        North York   Don Mills North\n

### Combining Neighbourhoods based on similar Postcode and Borough

In [16]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(10)

  Postcode      Borough                                      Neighbourhood
0      M1B  Scarborough                                  Rouge\n,Malvern\n
1      M1C  Scarborough         Highland Creek\n,Rouge Hill\n,Port Union\n
2      M1E  Scarborough              Guildwood\n,Morningside\n,West Hill\n
3      M1G  Scarborough                                           Woburn\n
4      M1H  Scarborough                                        Cedarbrae\n
5      M1J  Scarborough                              Scarborough Village\n
6      M1K  Scarborough    East Birchmount Park\n,Ionview\n,Kennedy Park\n
7      M1L  Scarborough                Clairlea\n,Golden Mile\n,Oakridge\n
8      M1M  Scarborough  Cliffcrest\n,Cliffside\n,Scarborough Village W...
9      M1N  Scarborough                     Birch Cliff\n,Cliffside West\n

Removing any space in the start of the string

In [17]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()

### Assigning Borough values to the Neignbourhood where vlaue is "Not assigned"

In [18]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [19]:
# Check if the Neighbourhood for Queen's Park changed 
df[df['Borough'] == 'Queen\'s Park']

   Postcode       Borough Neighbourhood
93      M9A  Queen's Park  Queen's Park

In [20]:
# Check the shape of the data frame
df.shape

(103, 3)

### Save this file to a csv

In [21]:
df.to_csv(r'df_can.csv')